body {
  background-color: white;
}

.page {
  justify-content: space-evenly;
  width: 100%;
}

.cities-dropdown {
  float: left;
  margin: 50px;
  width: 30%;
}

.check-saved-city {
  margin-left: 20px;
}

.saved-button {
  float: left;
}

.saved-div {
  float: left;
}

.display {
  width: 50%;
  float: right;
  margin: 50px;
}

.future-weather {
  display: inline-flex;
  font-size: 11px;
  justify-content: space-evenly;
}

.forecast-card {
  padding: 15px;
}

.btn-sm {
  margin: 10px;
}

.forecast-card {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  border-radius: 24px;
}

@media screen and (max-width: 1000px) {
  .display {
    width: 90%;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .forecast-card {
    justify-content: space-between;
    display: block;
  }
  .future-weather {
    display: inline-flexbox;
  }
}
