.page {
  justify-content: space-evenly;
  width: 100%;
}

.cities-dropdown {
  float: left;
  margin: 50px;
}

.check-saved-city {
  margin-left: 20px;
}

.saved-button {
  float: left;
}

.saved-div {
  float: left;
}

.display {
  width: 50%;
  float: right;
  margin: 50px;
}

.future-weather {
  display: inline-flex;
  font-size: 11px;
}

.forecast-card {
  padding: 15px;
}

.btn-sm {
  margin: 10px;
}
